
#top {
    background: white url(http://www.htmldog.com/images/bg.gif) no-repeat top right;
}


#top h1 {
    color: fuchsia;
}

#top p {
    font: 14px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 5px;
    border-color: red green blue teal;
    margin: 10px 50px;
}
